---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [136]:
import re
def ans_one():
    #df = pd.read_csv('university_towns.txt')
    ut_list = []
    i = 0
    with open('university_towns.txt', 'r') as f:
        for line in f:
            i += 1
            if re.search('\[edit]', line):
                state = re.sub('\[edit]','',line).strip()
                i -= 1
            elif re.search('\(.*', line):
                region = re.sub('\(.*', '', line).strip()
                ut_list.append([state, region])
            else:
                region = line.strip()
                ut_list.append([state, region])
    f.close()
    df = pd.DataFrame(ut_list, columns = ['State', 'RegionName'])
    return df

def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    return ans_one()
ans_one()

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

In [148]:
def ans_two():
    gdp = pd.read_excel('gdplev.xls')
    gdp.drop(gdp.columns[[0,1,2,3,5,7]], axis = 1, inplace = True)
    gdp.columns = ['YearQuarters', 'GDP(billions of chained 2009 dollars)']
    gdp = gdp[219:]
    gdp.reset_index(inplace = True)
    gdp.drop(gdp.columns[[0]], axis = 1, inplace = True)
    
    for i in range(4, len(gdp)):
        if (gdp.iloc[i-4, 1] > gdp.iloc[i-3, 1]) and (gdp.iloc[i-3, 1] > gdp.iloc[i-2, 1]) and (gdp.iloc[i-2, 1] < gdp.iloc[i-1, 1]) and (gdp.iloc[i-1, 1] < gdp.iloc[i, 1]):
             recession_base_idx = i-4
    
    result = gdp.iloc[recession_base_idx, 0]
    j = recession_base_idx
    while True:
        if (gdp.iloc[j-1, 1] > gdp.iloc[j, 1]):
            j -= 1
        else:
            result = gdp.iloc[j+1, 0]
            break
        
    return result

def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return ans_two()
ans_two()

'2008q3'

In [149]:
def ans_three():
    gdp = pd.read_excel('gdplev.xls')
    gdp.drop(gdp.columns[[0,1,2,3,5,7]], axis = 1, inplace = True)
    gdp.columns = ['YearQuarters', 'GDP(billions of chained 2009 dollars)']
    gdp = gdp[219:]
    gdp.reset_index(inplace = True)
    gdp.drop(gdp.columns[[0]], axis = 1, inplace = True)
    
    for i in range(4, len(gdp)):
        if (gdp.iloc[i-4, 1] > gdp.iloc[i-3, 1]) and (gdp.iloc[i-3, 1] > gdp.iloc[i-2, 1]) and (gdp.iloc[i-2, 1] < gdp.iloc[i-1, 1]) and (gdp.iloc[i-1, 1] < gdp.iloc[i, 1]):
             return gdp.iloc[i,0]
            
            
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return ans_three()
ans_three()

'2009q4'

In [150]:
def ans_four():
    gdp = pd.read_excel('gdplev.xls')
    gdp.drop(gdp.columns[[0,1,2,3,5,7]], axis = 1, inplace = True)
    gdp.columns = ['YearQuarters', 'GDP(billions of chained 2009 dollars)']
    gdp = gdp[219:]
    gdp.reset_index(inplace = True)
    gdp.drop(gdp.columns[[0]], axis = 1, inplace = True)
    
    for i in range(4, len(gdp)):
        if (gdp.iloc[i-4, 1] > gdp.iloc[i-3, 1]) and (gdp.iloc[i-3, 1] > gdp.iloc[i-2, 1]) and (gdp.iloc[i-2, 1] < gdp.iloc[i-1, 1]) and (gdp.iloc[i-1, 1] < gdp.iloc[i, 1]):
             return gdp.iloc[i-2,0]
        
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return ans_four()
ans_four()

'2009q2'

In [119]:
import pandas as pd
import numpy as np

states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

def answer_five():
    hous = pd.read_csv('City_Zhvi_AllHomes.csv')
    hous = hous.fillna(0)
    req_cols = hous.loc[:, hous.columns.str.startswith('20')]
    req_prev = req_cols.columns
    req_cols_names = req_cols.columns.tolist()
    q = ['q1','q2','q3','q4']
    
    q_index = 0
    i = 0

    while i+3 < (len(req_cols_names)):
        new_col = req_cols_names[i][0:4] + q[(q_index)%4]
        roo = [req_cols_names[i], req_cols_names[i+1], req_cols_names[i+2], req_cols_names[i+3]]
        #req_cols[new_col] = req_cols.apply(lambda row : np.mean(row[roo]), axis = 1)
        i += 3 
        q_index += 1

    req_cols['2016q3'] = req_cols.apply(lambda row : np.mean(row[['2016-07', '2016-08']]), axis = 1)
    req_cols.drop(req_prev, axis = 1, inplace = True)
    
    hous = hous[['RegionName', 'State']]
    abbr = pd.DataFrame(pd.Series(states))
    
    hous = pd.merge(hous, abbr, how = "inner", left_on = 'State', right_index = True)
    
    hous.columns = ['RegionName', 'StateAbr', 'State']
    hous.drop(['StateAbr'], axis = 1, inplace = True)
    
    hous = pd.merge(hous, req_cols, how = "inner", left_index = True, right_index = True)
    
    hous.set_index(['State', 'RegionName'], inplace = True)
    
    return hous

def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return answer_five()
answer_five()

<ipython-input-119-6ffa8b171623>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  req_cols[new_col] = req_cols.apply(lambda row : np.mean(row[roo]), axis = 1)

                                    2000q1    2000q2    2000q3    2000q4  \
State    RegionName
New York New York                      0.0       0.0       0.0       0.0
         Rochester                 53575.0   53200.0   53225.0   53175.0
         Yonkers                  223475.0  233150.0  247450.0  255150.0
         Syracuse                  57075.0   57775.0   57375.0   57200.0
         Town of Greece            95125.0   95650.0   96400.0   97125.0
...                                    ...       ...       ...       ...
Vermont  Town of Marshfield            0.0       0.0       0.0       0.0
         Graniteville-East Barre       0.0       0.0       0.0       0.0
         Town of Manchester            0.0       0.0       0.0       0.0
         East Montpelier               0.0       0.0       0.0       0.0
Maine    Town of Dixfield              0.0       0.0       0.0       0.0

                                    2001q1    2001q2    2001q3    2001q4  \
State    RegionName
New York New York                      0.0       0.0       0.0       0.0
         Rochester                 52975.0   52525.0   52750.0   53250.0
         Yonkers                  260100.0  264800.0  273000.0  283875.0
         Syracuse                  57025.0   57050.0   57525.0   58175.0
         Town of Greece            98475.0   99400.0  100200.0  101475.0
...                                    ...       ...       ...       ...
Vermont  Town of Marshfield            0.0       0.0       0.0       0.0
         Graniteville-East Barre       0.0       0.0       0.0       0.0
         Town of Manchester            0.0       0.0       0.0       0.0
         East Montpelier               0.0       0.0       0.0       0.0
Maine    Town of Dixfield              0.0       0.0       0.0       0.0

                                    2002q1    2002q2  ...    2014q2    2014q3  \
State    RegionName                                   ...
New York New York                      0.0       0.0  ...  517150.0  523650.0
         Rochester                 53425.0   53625.0  ...   60200.0   61575.0
         Yonkers                  294450.0  305500.0  ...  382650.0  386000.0
         Syracuse                  59250.0   60425.0  ...   76400.0   75575.0
         Town of Greece           102875.0  103475.0  ...  120100.0  121450.0
...                                    ...       ...  ...       ...       ...
Vermont  Town of Marshfield            0.0       0.0  ...  191200.0  200150.0
         Graniteville-East Barre       0.0       0.0  ...  131300.0  128800.0
         Town of Manchester            0.0       0.0  ...  276650.0  271825.0
         East Montpelier               0.0       0.0  ...  265325.0  262275.0
Maine    Town of Dixfield              0.0       0.0  ...   38050.0   37600.0

                                    2014q4    2015q1    2015q2    2015q3  \
State    RegionName
New York New York                 528750.0  533250.0  543450.0  560075.0
         Rochester                 62825.0   63025.0   64125.0   64900.0
         Yonkers                  385150.0  385825.0  391125.0  402200.0
         Syracuse                  75250.0   77425.0   78575.0   79425.0
         Town of Greece           122275.0  121750.0  123025.0  124025.0
...                                    ...       ...       ...       ...
Vermont  Town of Marshfield       199500.0  199175.0  199400.0  196750.0
         Graniteville-East Barre  125975.0  124825.0  124800.0  130900.0
         Town of Manchester       274050.0  272250.0  271400.0  275675.0
         East Montpelier          259025.0  262600.0  267225.0  268975.0
Maine    Town of Dixfield          37475.0   38150.0   40475.0   44700.0

                                    2015q4    2016q1    2016q2    2016q3
State    RegionName
New York New York                 574225.0  585200.0  590725.0  587200.0
         Rochester                 65550.0   66950.0   66975.0   66900.0
         Yonkers                  404550.0  408075.0  409100.0  406550.0
         Syracuse                  80525.0   80225.0   78650.0   78350.0
         Town of Greece           124650.0  126175.0  126500.0  126050.0
...                                    ...       ...       ...       ...
Vermont  Town of Marshfield       191300.0  188800.0  184275.0  182300.0
         Graniteville-East Barre  133150.0  134025.0  140800.0  145350.0
         Town of Manchester       276425.0  269850.0  267450.0  265850.0
         East Montpelier          265000.0  260250.0  259850.0  257950.0
Maine    Town of Dixfield          48900.0   51225.0   51675.0   50500.0

[10730 rows x 67 columns]

In [176]:
#

In [178]:
from scipy.stats import ttest_ind

def ans_final():
    univ_towns = get_list_of_university_towns()
    univ_towns['univ_town'] = True
    
    hous_qua = convert_housing_data_to_quarters()
    
    r_start = get_recession_start()
    r_bottom =  get_recession_bottom()
    start = hous_qua.columns[hous_qua.columns.get_loc(r_start)-1]
    
    hous_qua['ratio'] = hous_qua[start] - hous_qua[r_bottom]
    hous_qua = hous_qua[[start, r_bottom, 'ratio']]
    hous_qua.reset_index(inplace = True)
    
    df_tmp = pd.merge(hous_qua, univ_towns, how = "inner", left_index = True, right_on = ['State', 'RegionName'])
    df = pd.merge(hous_qua, univ_towns, how = "outer", on = ['State', 'RegionName', start, r_bottom, 'ratio'])
    df['univ_town'] = df['univ_town'].fillna(False)
    
    ut = df[df['univ_town'] == True]
    nut = df[df['univ_town'] == False]
    
    t,p = ttest_ind(ut['ratio'].dropna(), nut['ratio'].dropna())
    
    different = True if p<0.01 else False
    
    better = "university town" if ut['ratio'].mean() < nut['ratio'].mean() else "non-university town"
    
    return (different, p, better)

def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return ans_final()
ans_final()

<ipython-input-119-6ffa8b171623>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  req_cols[new_col] = req_cols.apply(lambda row : np.mean(row[roo]), axis = 1)

ValueError: len(right_on) must equal the number of levels in the index of "left"